@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
/* Design Tokens (OKLCH Color Space) */
@layer base {
  :root {
    /* Light theme */
    --background: oklch(1 0 0);
    --foreground: oklch(0.9702 0 0);
    --text: oklch(0.235 0 0);
    --primary: oklch(0.75 0.1 190);
  }

  [data-theme="dark"] {
    /* Dark theme */
    --background: oklch(0.1776 0 0);
    --foreground: oklch(0.235 0 0);
    --text: oklch(0.9702 0 0 / 0.8);
    --primary: oklch(0.75 0.1 190);
  }

  /* Tailwind Theme Mappings */
  @theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-text: var(--text);
    --color-primary: var(--primary);
    --font-sans: "Public Sans Variable", sans-serif;
    --font-mono: "JetBrains Mono Variable", monospace;
  }
}

/* Base element styles */
body {
  @apply m-0 tracking-tight;
  font-family: var(--font-mono);
  color: var(--text);
  background-color: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.h-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
  height: 4px;
}

.h-scrollbar::-webkit-scrollbar-track {
  background: var(--background);
}

.h-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary);
}
